
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <link href ="./app/app.component.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
<style>


</style>
</head>
<body>

<div class="container">
<header id = "home">

   <h1 id ="cv"><img class ="img-circle" src="./assets/images/lebo2.jpg"  width="230" height="230" align ="center">  Curriculum Vitae Of Lebogang Matlala</h1>
   
</header>

<div class="row">
    <div class="wrapper1">
        <h2 id="contact" align="center" >Contact Details </h2>
        <table align ="left">
          <tr>
              
              <td><i class="fa fa-phone" style="font-size:20px;color:grey"></i>: 060 790 4295</td>
          </tr>
            <tr>
             
              <td ><i class="fa fa-home" aria-hidden="true" style="font-size:20px;color:grey"></i>: 17397 Blou Berg Streert Kagiso Ext 12 1754<br>
              </td>
            </tr>
            <tr>
              
              <td><i class="fa fa-envelope" aria-hidden="true" style="font-size:20px;color:grey"></i>: lebogangmatlala94@gmail.com</td>
            </tr>
            </table><br><br><br><br><br>
        
         <h2 id="skills">Skills </h2>
         <table>
          <tr>
            <td>
                <ul class="demo">
                    <li>Java SE</li>
                    <li>Angulajs</li>
                    <li>Java Hibernate</li>
                    <li>Java Spring MVC</li>
                    <li>SQL</li>
                    <li>PL\SQL</li>
                    <li>Android</li>
                    <li>Web services</li>
                    <li>VB.net</li>
                    <li> Microsoft Office</li>
                    <li> HTML5 and CSS3</li>
                    <li>Java EE</li>
                  </ul>
              </td>
          </tr>
        </table>

          <h2 id="attributes">Attributes </h2>
          <table>
          <tr>
            <td>
              <ul class="demo">
                <li>Ability to work independently and as part of the team</li>
                <li> Innovative and Crteative</li>
                <li>Ability to priorities</li>
                <li>Ability to work under pressure</li>
                <li>Good Communication Skills</li>
              </ul>
            </td>
          </tr>
          </table>
          <h1>

          </h1><br><br>

    </div>

   <div class="wrapper2">
        <h2 id="details">Profile</h2>
        <table id="t1">
            <tr>
              <td><p id ="p1">My name is lebogang matlala born on 30 May 1994.I am Innovatiove and hardworking lady.
                 I have good communication skills and a good listerner,can communicate well with other and can easily adapt to any
                situation that is a challange to me. I am inquisitive and a fast learner,i can work underpressure and work individually and as part of the team.
              On my leisure time i like going out with my friends and family.I also like travelling seeing different places and meeting new people,Its an advanture to me.</p></td>
            </tr>
          </table> 
       <h2 id="education">Education</h2>
       <table id = "t1">
        <tr><td><h4>High School Education </h4></td>
        </tr>
       <tr>
          
          <td>: Thuto-Pele Secondary School</td>
      </tr>
        <tr>
         
          <td> : Grade 12</td>
          
        </tr>
        <tr>
         
        </tr>
      <tr>
        <td> : 2012</td>
          </tr>
          <tr><td><h4>Tertiary Education </h4></td>
          </tr>
          <tr>
            
            <td> : Tshwane University of Technology</td> 
          </tr>
          <tr>
            
              <td> : NDIP IT (Technical Applications)</td> 
            </tr>
            <tr>
               
                <td> : 2013-2017</td> 
              </tr>
        </table>

        
            <h2 id="experience">Experience </h2>
      
              <table id="t1">
                
                      <tr>
                        
                        <td><p>
                          I have worked at reverside participating in an internship for a duration of six months.The responsibilities of the job
                          included creating documentation for a projects using uml diagrams,Coding projects and updating existing systems and Presentations. 
                          
                        </p></td> 
                      </tr>
                   
                    </table><br><br>
    </div>
  </div>

<footer>

 <div class="row">
  <div class="column">
  <h2 id="reference">References <a href="#home"><i class="material-icons" style="font-size:21px;color:rgb(119, 122, 120)">content_paste</i></a></h2>
  
          
     <p align="left"> :  Cressundra Alves<br>
        :  086 199 9990 <br>
        : cressundra.alves @reverside.co.za<br>
           : Human Resources Director</p>
    </div>
  <div class="column" >
    <h2></h2>
    <p align="left"><br><br><br>: MR L Masupha<br>
        : 012 3839 282 or 079 9059 521<br>
       : masuphale @tut.ac.za<br>
       : Lecturer<br></p>
  </div>
  <div class="column" >
    <h2></h2>
    <p align="left"><br><br><br>: Miss SK Khoza<br>
         : 072 3807 397<br>
         : sibongilekhoza93 @gmail.com<br>
         : Friend<br></p>
  </div>
 
</div>
  
</footer>
</div>
</body>
</html>